body {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    color: #3C4047;
    background-color: #f0f0f0;
    height: 1000px;
}

.logoDiv{
    background-color: white;
    width: 100%;
    height: 90px;
}
#mainBodyDiv {
    height: 600px;
}

.mainNav {
    list-style-type: none;
    margin: 0;
    padding-left: 15%;
    padding-right: 15%;
    width: 70%;
    overflow: hidden;
    background-color: steelblue;
    font-weight: bold;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}

div img {
    width: 80%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: deepskyblue;
    text-decoration: underline;
}

.navbar-right {
    float: right;
}

.welcomeLabel{
    margin-right: 16%;
    float:right;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 60px;
}

#logo{
    float:left;
    padding-bottom: 5px;
    padding-left: 15%;
    max-width: 400px;
}

.nav-icon{
    margin-right: 2px;
}

.textbox{
    border-radius: 5px;
    width: 98%;
    height: 25px;
    padding-left: 7px;
}
    .textbox:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }

.pageTitle {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    color: black;
    margin-top: 3%;
}

.subTitle {
    font-weight: bold;
    font-size: 1.3em;
}

#createDiv {
    margin-right: 15%;
    width: 30%;
    float: right;
}

#loginDiv{
    margin-left: 15%;
    width: 20%;
    float:left;
}

#bodyDiv {
    margin-right: 10%;
    width: 90%;
}


#addressDiv {
    margin-right: 15%;
    width: 30%;
    float: right;
}

label {
    font-weight: bold;
    font-size: 1.1em;
}

.btnLogin {
    border-radius: 5px;
    height: 30px;
    width: 75px;
    background-color: steelblue;
    color: white;
    border: none;
    outline: none;
    user-select: none;
    float: right;
}
    .btnLogin:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }

.btnCreate{
    border-radius: 5px;
    height: 30px;
    width: auto;
    background-color: steelblue;
    color: white;
    border: none;
    outline: none;
    user-select: none;
    float: right;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    cursor: default;
}

    .btnCreate:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        cursor: default;
    }
.btnGeneral {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    border-radius: 5px;
    background-color: steelblue;
    color: white;
    outline: none;
    user-select: none;
    float: right;
    text-align: center;
    text-decoration: none;
    cursor: default;
    padding: 8px;
    vertical-align: middle;
    margin-left: 15px;
    position: relative;
    font-weight: bold;
}
    .btnGeneral:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        cursor: default;
    }

#loginError {
    border: thin solid red;
    background-color: white;
    background-color: rgba(255, 0, 0, 0.2);
    margin: 2%;
    padding-left: 2%;
    color: darkred;
}

#copyright-area {
    background-color: #333;
    height: 30px;
    font-size: 0.8em;
    text-decoration: none;
    color: darkgrey;
    padding-top: 15px;
    padding-left: 2%;
    position: relative;
    bottom: 0;
    width: 98%;
    clear:both;
}

#contactInfo {
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footerList {
    list-style-type: none;
    margin: 0;
    width: 20%;
    height: 250px;
    float: left;
    background-color: steelblue;
    box-shadow: 1px 0 5px rgb(0, 0, 0);
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.footerNav {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    font-weight: bold;
    font-size: 0.9em;
}

    .footerNav li a:hover {
        background-color: steelblue;
        text-decoration: underline;
    }

td {
    width: 20%;
    border: thin solid;
    border-color: #acafb5;
    box-shadow: 0 0 5px #acafb5;
    background-color: white;
}

.productTable {
    margin-left: 15%;
    height: 600px;
}

.productTable table{
    width: 80%;
}

.sizeField{
    border-radius: 5px;
}

#buildDiv {
    margin-left: 15%;
    margin-right: 15%;
}

#MainContent_cartListTable {
    width: 100%;
    border: none;
    border-collapse: collapse;
    box-shadow: none;
    overflow:scroll;
}

    #MainContent_cartListTable td{
        width: 8%;
        border: thin solid gray;
        border-collapse: collapse;
        box-shadow: none;
        text-align: center;
    }

    #MainContent_cartListTable tr:first-child td{
       background-color: steelblue;
       color: white;
       font-weight: bold;
    }
   

    #MainContent_cartListTable tr td:first-child {
        width: 0;
        visibility: hidden;
        border: none;
    }

#cartDiv {
    height: 400px;
    width: 90%;
    overflow: scroll;
    overflow-x: hidden;
    margin-left: 5%;
}
#cartFtrDiv {
    margin-left: 15%;
    margin-right: 15%;
    bottom: 17%;
    position: absolute;
    right: 0;
    text-align: right;
}
#cartBtnDiv {
    margin-left: 15%;
    margin-right: 15%;
    bottom: 12%;
    right: 0;
    position: absolute;
    float: right;
}

.panelDiv {
    font-weight: bold;
    border: thick solid;
    border-color: darkslateblue;
    box-shadow: 0 0 10px darkslateblue;
    padding: 5%;
    float: left;
    width: 20%;
    margin-left: 17%;
    background-color: white;
    padding-bottom: 2%;
    padding-top: 2%;
}
.customizeDiv{
    float: left;
    margin-left: 5%;
    width: 40%;
    height: 600px;
}